In [1]:
import gmaps
import gmaps.datasets

gmaps.configure(api_key = "AIzaSyA8PpnaOnWuneRH4iWHRz3CauB5bZOGPiA")

earthquake_df = gmaps.datasets.load_dataset_as_df("earthquakes")
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [2]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))